.sell-container {
    .vehicle-info-title {
        font-size: 1.25rem;
    }

    .vehicle-info-list {

        .list-item {
            margin-bottom: 0.75rem;

            .info-label {
                color: $gray-500;
            }
    
            .info-value {
                font-weight: 500;
            }
    
            .col-6 {
                padding-bottom: 0.75rem;
            }
        }
    }

    .vehicle-condition-btn {
        font-weight: 500;
        border-width: 1.5px;
    }

    
}

.sell-box {
    background-color: $gray-100;
    border-radius: 0.5rem;
}

.estimate-info-box {
    background-color: $white;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.03);

    h6 {
        font-size: 1.1rem;
    }

    .btn {
        font-size: 1rem;
    }
}

.file-upload-btn-wrap button.btn {
    width: 100% !important;
    background-color: $gray-100 !important;
    border:0px !important;

    &:hover {
        background-color: $gray-200 !important;
    }

}

.file-upload-btn-wrap .d-flex > * {
    flex-grow: 1 !important;
    width: 100% !important;
}