@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// Bootstrap 변수 오버라이드 // 메인컬러 외 임시
$theme-colors: (
    "primary": #da3138,
    "secondary": #6c757d,
    "success": #28a745,
    "info": #17a2b8,
    "warning": #ffc107,
    "danger": #dc3545,
);

// Body
// $body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Spoqa Han Sans", system-ui, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;