/node_modules
/public/build
/public/hot
/public/storage
/public/vendor/
/storage/*.key
/vendor
.env
.env.backup
.env.server
.phpunit.result.cache
/.phpunit.cache

Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.history
package-lock.json
composer.lock
yarn.lock
/storage/media-library/temp
/storage/app/public/
/public/media/
.DS_Store
/_storage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific

# Task files
# tasks.json
# tasks/ 
