// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "_variables";

@import "defalut";

// Bootstrap
@import "bootstrap/scss/bootstrap";
@import "style";
@import "Nav";
@import "modal";

:root{
    --bs-body-bg: #ffffff;
}

body {background-color: #ffffff !important;}
a{text-decoration: none !important;}
p{margin-top: 0rem; margin-bottom: 0rem;}

/* 'demo' : 임의의 데이터 */
.demo::before {
  content: "demo";  
  color: white;     
  background-color: rgb(255, 102, 0); 
  padding: 10px;   
  margin: 10px;    
  display: block; 
}

/* ' 구현 진행 중' */
.proceeding::before {
  content: "진행중";  
  color: white;     
  background-color: rgb(17, 0, 255); 
  padding: 10px;   
  margin: 10px;    
  display: block; 
}
