.navbar-nav.right-nav {
    z-index: 9999;
}
.navbar-nav {
    z-index: 100;
}
.navbar-toggler {
    display: block !important;
}

.nav-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: end;
    padding: 0.5rem;
    height: 60px;
}

.btn-close {
    width: 25px;
    height: 25px;
}

.toggle-nav-content {
    display: block;
    overflow-y: hidden;
    height: calc(95vh - 60px); 
    margin-top: 60px; 
    width: 100% !important;
}

.middle-content{
    margin-top: 8rem !important;
    border-bottom: 2px solid #e3e3e3;
}
/* MOBILE_2 */
@media all and (max-width:640px){
.nav-gray-box {
    font-size: 18px;
}
.toggle-nav-content {
    width: 310px;
}

}
.under-line{
    background-color: #f7f8fb;
    width: 100%;
    height: 6px;
}
.my-member{
    display: flex;
    border-radius: 25px;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0px;
    height: 30px;
    background-color: $primary;

}
.my-member-dealer{
    display: flex;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 38px;
    background-color: darken($primary, 15%);
}
.my-member-guest{
    display: flex;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    padding: 2px;
    height: 45px;
    margin-right: 17px !important;
    background-color:#f7f8fb;
}
.menu-item {
    display: flex;
    align-items: center; 
    padding: 10px;
    margin-top: 30px;
    color: black;
    gap: 1.2rem;
}

.menu-item:hover .right-icon {
    transform: translateX(5px);
}

.menu-text {
    margin-right: auto;
}
.recent-new{
    position: relative; 
}
.settings-icon {
    width: 27px;
    height: 20px;
    background-image: url('../img/Icon-settings.png');
    margin-right: 20px; 
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: center; 

}
.right-icon {
    width: 25px;
    height: 15px;
    background-image: url('../img/Icon-red-right.png');
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: center; 
    transition: transform 0.3s ease; 
}
.right-icon-nav {
    width: 19px;
    height: 19px;
    margin-left: 5px;
    background-image: url('../img/Icon-right-black.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: transform 0.3s ease, margin-left 0.3s ease;
  }
  

.logout-icon{
    width: 27px;
    height: 20px;
    background-image: url('../img/Icon-logout.png');
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: center; 

}
.icon-tag{
    width: 27px;
    height: 20px;
    background-image: url('../img/Icon-tag.png'); 
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: center; 

}
.icon-awsome{
    width: 27px;
    height: 20px;
    background-image: url('../img/Icon-awesome-car.png');
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: center; 

}
.icon-side{
    width: 27px;
    height: 20px;
    background-image: url('../img/Icon-awesome-car-side.png');
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: center; 

}
.icon-document{
    width: 30px;
    height: 30px;
    background-image: url('../img/document.png');
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: center; 

}
.icon-dash{
    width: 27px;
    height: 20px;
    background-image: url('../img/icon-dash.png');
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: center; 

}


.right-icon:hover {
    transform: translateX(5px);
}
@media all and (max-width:640px){
.toggle-nav-content {
    overflow-y: auto;
}
}
.nav-font {
    font-size: 16px;
    font-weight: 500;
}

#navbarSupportedContent {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0; 
    overflow-x: hidden;
    transition: width 0.3s;
    background-color: white;
    box-shadow: 0 6px 12px rgb(0 0 0 / 28%);
    z-index: 1020;
}
.nav-profile{
    width: 36px;
    height: auto;
    margin-left: 5px;
    border-radius: 50%;
    object-fit: cover;
}
.nav-profile-login{
    width: 28px;
    height: auto;
    margin-left: 5px;
    border-radius: 50%;
    object-fit: cover;
}

.logout{
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
}
.nav-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: end;
    padding: 0.5rem;
    height: 60px;
}

.btn-close {
    font-size: 1.5rem; 
    border: none;
    cursor: pointer;
}

.toggle-nav-content {
    display: block;

    height: 100%; 
    margin-top: 60px;
    width: 100% !important;
}

.navbar-collapse.show {
    width: auto !important;
}

.middle-content{
    margin-top: 6rem !important;
}
/* MOBILE_2 */
@media all and (max-width:640px){
.nav-gray-box {
    font-size: 18px;
}
.toggle-nav-content {
    width: 100% !important;
}

}