[mysqld]
# 기본 설정
user = mysql
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
port = 3306
basedir = /usr
datadir = /var/lib/mysql
tmpdir = /tmp
lc-messages-dir = /usr/share/mysql

# 문자셋
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init-connect = 'SET NAMES utf8mb4'

# 바이너리 로그
server-id = 1
log-bin = mysql-bin
binlog_format = ROW
expire_logs_days = 7
max_binlog_size = 100M

# 일반 로그
general_log = 1
general_log_file = /var/log/mysql/general.log

# 에러 로그
log-error = /var/log/mysql/error.log

# 슬로우 쿼리 로그
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2
log_queries_not_using_indexes = 1

# 성능 튜닝
max_connections = 200
thread_cache_size = 8
table_open_cache = 2000
table_definition_cache = 1400

# InnoDB 설정
innodb_buffer_pool_size = 256M
innodb_log_file_size = 64M
innodb_log_buffer_size = 16M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50
innodb_file_per_table = 1

# 쿼리 캐시
query_cache_type = 1
query_cache_size = 32M
query_cache_limit = 2M

# 타임아웃
wait_timeout = 28800
interactive_timeout = 28800

# 최대 패킷 크기
max_allowed_packet = 32M

# 임시 테이블
tmp_table_size = 32M
max_heap_table_size = 32M

# MyISAM 설정
key_buffer_size = 32M
read_buffer_size = 2M
read_rnd_buffer_size = 16M
sort_buffer_size = 8M

# 보안
sql_mode = STRICT_TRANS_TABLES,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4